
.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 98%; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}

.space-between{
  padding-bottom: 100px;
}

.space-between-top{
  padding-bottom: 30px;
}


.page-title{
  font-size: 1.4rem;
}
.card-name{
  margin: 0 !important;
  font-size: 1.2rem;
  color: black;
}
.card-title{
  margin: 0 !important;
}
.card-contact{

}
.card-description{
  padding-top: 20px;
}

.about-desc{
  text-align: justify;
}

footer{
  height: 50px !important;
  margin: 0 !important;
}
