.tabs {
margin-bottom: -1px !important;
position: relative;
}

.tab-content {
padding: 60px;
top: 197px;
color: #000;
background-color: white;
}

.tab-pane {
display: none;
}

.is-active {
display: initial;
}

.hero.is-info .tabs.is-boxed li.is-active a, .hero.is-info .tabs.is-boxed li.is-active a:hover, .hero.is-info .tabs.is-toggle li.is-active a, .hero.is-info .tabs.is-toggle li.is-active a:hover {
    color: rgb(1, 1, 151) !important;
    font-weight: bold;
}

.cent{
display: block;
margin: 10px auto;
padding: 5px;
border: 1px solid #ccc}

.video
{display: block;
margin: 0 auto;}
